CLERK_SECRET_KEY="sk_test_sua_chave_secreta_aqui"
CLERK_PEM_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\nSUA_CHAVE_PUBLICA_AQUI\n-----END PUBLIC KEY-----"
DATABASE_HOST="localhost"
DATABASE_USERNAME="postgres"
DATABASE_PASSWORD="password"
